/*General Styles*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url(../img/geometry2.png); /* Background pattern from Subtle Patterns */
    font-family: "Coda", cursive;
}


h1,
h2{
    font-family: "Open Sans", sans-serif;
}

/*
 * Styles for Game Deck
 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.deck .card {
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Leaderboard
 */
#leaderboard {
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin-top: 20px;
    margin-bottom: 10px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
}

#leaderboard-heading {
    background-color: #2e3d49;
    display: flex;
    width: 100%;
    height: 60px;
}

#game-name {
    color: white;
    width: 40%;
    margin-left: 30px;
}

#player-name {
    width: 60%;
    float: right;
    color: white;
}

#leaderboard-body {
    display: flex;
    text-align: center;
    width: 100%;
}

#stars-area {
    padding-left: 10px; 
    border-style: groove;
    border-width: 5px;
    border-color: #2e3d49;
    width: 25%;
}

#timer-area {
    padding-left: 10px; 
    border-style: groove;
    border-width: 5px;
    border-color: #2e3d49;
    width: 25%;
}

#moves-area {
    padding-left: 10px; 
    border-style: groove;
    border-width: 5px;
    border-color: #2e3d49;
    width: 25%;
}

.restart {
    padding-left: 10px; 
    border-style: groove;
    border-width: 5px;
    border-color: #2e3d49;
    width: 25%;
}

#stars-area .stars {
    margin: 0 5px 0 0;
    display: inline-block;
}

#stars-area .stars .rating {
    color: whitesmoke;
}

#leaderboard-body .restart {
    float: right;
    cursor: pointer;
}

/*
The Modal (background)
*/
.modal-container {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*
Modal Content
*/
.modal-content {
    position: relative;
    vertical-align: middle;
    background:#ffffff url(../img/geometry2.png);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-header {
    padding: 2px 16px;
    background-color: #02ccba;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    height: 30px;
    padding: 2px 16px;
    background-color:#02ccba;
    color: white;
}

/*
To Start Game Modal Styles
*/
.modal-body-area-to-start {
    display: flex;
    height: 130px;
}

.form-area {
    margin: 10px, 0;
    width: 80%;
}

.name-text .text-area {
    padding: 15px;    
}

.name-text {
    font-size: 1.3em;
}

.text-area {
    width: 80%;
    height: 50px;
    border-color: #02b3e4;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.play-buttton-Area {
    padding-top: 20px;
    margin: 10px, 0, 10px, 0;
    float: right;
    width: 20%;
   cursor: pointer;
}

.fa-gamepad {
    font-size: 4em;
    color: #2e3d49;
}

.play-text {
    font-size: 1.2em;
    margin-left: 20px;
}

/*
Win Modal Styles
*/
.modal-body-area-win {
    display: flex;
    height: 220px;
}

.you-won-mesage {
    font-size: 1.7em;
}

.result-scores-area {
    width: 60%;
}

.result-message {
    font-size: 1.2em;
}

.trophy-area {
    width: 40%;
    background-image :url(../img/trophy.gif);
    width: 220px;
    height: 220px;
}

/*
Modal Footer Styles
*/
.game-instructions {
    color: white;
    font-size: 1.2em;
}

.instructions-card {
    margin-top: 0;
    background:#ffffff url(../img/geometry2.png);
}

.instructions-txt {
    color: black;
    font-size: 1em;
    margin: 0, 10px, 0, 10px;
}

.play-again {
    color: white;
    font-size: 1.2em;
}

.copy-right {
    float: right;
}

/*
Other Animations and Features
*/
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.red-border{
    border-color: red;
    border-width: 5px;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
